{{!-- app_server/views/about.hbs --}}
{{> header}}

<div id="contents">
  <div class="box">
    <div>
      <div class="body">
        <h1>About</h1>
        <p>
          Travlr Getaways offers the best vacations and getaways to exotic destinations around the world. We are dedicated to making your travel experiences memorable and hassle-free.
        </p>
        <p>
          Our team works hard to provide excellent customer service and competitive prices for your dream vacation.
        </p>
        <p>
          Contact us to learn more about our exclusive packages and promotions.
        </p>
      </div>
    </div>
  </div>
</div>

{{> footer}}
