{{!-- app_server/views/contact.hbs --}}
{{> header}}

<div id="contents">
  <div class="box">
    <div>
      <div class="body">
        <h1>Contact</h1>
        <p>
          For inquiries, questions, or to book your vacation, please reach out to us.
        </p>
        <p>Email: info@travlrgetaways.com</p>
        <p>Phone: (555) 123-4567</p>
        <p>Address: 123 Travel Road, Adventure City, Country</p>
      </div>
    </div>
  </div>
</div>

{{> footer}}
